.topHeaderBar {
  height: 62px;
  background-color: #eee;
  padding: 0px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionLast {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  .icons {
    img {
      width: 100%;
      height: 100%;
    }
  }
  span {
    cursor: pointer;
  }
  .avatar {
    img {
      width: 48px;
      height: 48px;
    }
  }
  .info {
    display: flex;
    flex-wrap: nowrap;
    p {
      font-size: 18px;
      padding-right: 5px;
    }
    span {
      cursor: pointer;
    }
  }
}
@media (max-width: 580px) {
  .sectionLast {
    width: 250px;
    padding: 0px 10px;
    .icons {
      width: 25px;
      height: 25px;
    }
    .avatar {
      img {
        width: 36px;
        height: 36px;
      }
    }
    .info {
      p {
        font-size: 12px;
        padding-right: 1px;
      }
      span {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// @media (max-width:400px){
//   .sectionLast
// }
