.typography {
  position: relative;
  .back {
    font-size: 110px;
    font-weight: bold;
    color: #f4f4f4;
    text-transform: uppercase;
  }
  .front {
    top: 60px;
    position: absolute;
    font-size: 34px;
    font-weight: bold;
    padding-left: 4em;
    text-transform: uppercase;
  }
}
@media (max-width: 580px) {
  .typography {
    .back {
      font-size: 50px;
    }
    .front {
      padding-left: 2em;
      top: 25px;
      font-size: 17px;
    }
  }
}

@media (max-width: 400px) {
  .typography {
    .back {
      font-size: 40px;
    }
    .front {
      padding-left: 2em;
      top: 20px;
      font-size: 16px;
    }
  }
}
