.label {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  padding: 20px 0px;
}

#bold {
  font-size: 20px;
  font-weight: bolder;
  color: #000;
}

@media (max-width: 580px) {
  #bold {
    font-size: 16px;
  }
}
