.simpleInput {
  outline: none;
  padding: 12px 0px;
  border: 1px solid #eeeeee;
  width: 100%;
  color: #eee;
  text-indent: 20px;
}
.textArea {
  text-indent: 10px;
  padding-top: 10px;
  min-height: 140px;
  max-height: 140px;
  min-width: 100%;
  max-width: 100%;
  border: 1px solid #eee;
  outline: none !important;
}
