@import "../Theme.scss";
.themeBtn {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  background-color: #f1c644;
  color: #fff;
  text-transform: none;
  border: none;
  border-radius: none;
  // width: 100%;
  padding: 5px 20px;
  background-color: $golden;
  color: white;
  cursor: pointer;
  height: 40px;
  outline: none;
}
.withRadius {
  border-radius: 4px;
}

@media (max-width: 680px) {
  .themeBtn {
    font-size: 11px;
    padding: 10px 10px;
  }
}

.btnLarge {
  width: 228px;
  height: 60px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  cursor: pointer;
}
.black {
  color: #fff;
  background: #000;
}
.white {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08) !important;
}
.golden {
  color: #fff;
  background-color: $golden;
}

@media (max-width: 580px) {
  .btnLarge {
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: 7px;
  }
}
