$spacing4: 4px;
$spacing8: 8px;
$spacing12: 12px;
$spacing16: 16px;
$spacing20: 20px;
$spacing24: 24px;
$spacing28: 28px;
$spacing32: 32px;

$themeBackground: #f8f9fa;
$golden: #f1c644;
$greyText: #999999;
$brown: #8f511d;
