.landingImg {
  background: url("../../assets/landingPage.png");
  width: 100%;
  height: 898px;
  position: relative;
  background-color: #000;
  .txtHeading {
    padding: 15% 10% 0% 10%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
    }
  }
  .landingBigHeading {
    padding: 5% 10% 0% 10%;
    font-weight: bold;
    font-size: 96px;
    text-align: center;
    font-style: normal;
    line-height: 100%;
    color: #fff;
    span {
      color: #f1c644;
    }
  }
}
.aboutUsLanding {
  padding-top: 100px;
}
.becomePartner {
  padding: 60px 0px;
  text-align: center;

  h2 {
    font-weight: bold;
    font-size: 28px;
  }
  .cards {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    span {
      padding: 20px 50px;
      font-size: 20px;
    }
    .one {
      background-color: #f1c644;
    }
    .two {
      background-color: #ffd658;
    }
    .three {
      background-color: #ffc000;
    }
  }
}
.landingStepsSection {
  background: url("../../assets/buildingLanding.png");
  width: 100%;
  height: 228px;
  display: flex;
  object-fit: contain;
}
.sections {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  .steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    h2 {
      font-weight: bold;
      font-size: 60px;
      margin-right: 10px;
    }
    .txt {
      h4 {
        font-weight: bold;
        font-size: 24px;
      }
      p {
        font-size: 14px;
        font-weight: bold;
        color: #ccc;
      }
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 980px) {
  .gpsImg {
    display: none;
  }
  .sections {
    width: 33.33%;
    padding-left: 2%;
    .steps {
      h2 {
        font-size: 24px;
      }
      .txt {
        h4 {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .landingImg {
    background: url("../../assets/truck.png");
    width: 100%;
    height: 319px;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    .txtHeading {
      padding: 15% 10% 0% 10%;
      h4 {
        font-size: 18px;
      }
    }
    .landingBigHeading {
      padding: 5% 10% 0% 10%;
      font-size: 26px;
    }
  }
}
