.howItWorks {
  padding: 3% 10%;
  .steps {
    padding: 20px 0px 40px 0px;
  }
}
#stepLabel {
  font-weight: normal;
  font-size: 20px;
  color: #000;
}
.stepsWorks {
  color: #999999;
  font-size: 16px;
  text-align: center;
}
