@import "../Theme.scss";
.wrapAuthScreens {
  background: $themeBackground;
  padding: 5em 7em;
}
.login {
  background: white;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.06);
}
.loginImg {
  padding: 10px 10px;
  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.headingAuth {
  font-size: 36px;
  font-weight: 800;
}
.wrapperForm {
  padding: 40px 60px 30px 10px;
  p {
    font-size: 18px;
    font-weight: 300;
    color: $greyText;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .rememberMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #666666;
    padding-bottom: 40px;
    span {
      vertical-align: middle;
    }
  }
}
.checkbox {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 10px;
}
.containerBtnLogin {
  display: flex;
  vertical-align: middle;
}

@media (max-width: 979px) {
  .wrapAuthScreens {
    padding: 2em 4em;
  }
}
@media (max-width: 680px) {
  .wrapAuthScreens {
    padding: 1em 3em;
  }
  .checkbox {
    width: 12px;
    height: 12px;
  }
  .rememberMe {
    font-size: 12px;
    flex-direction: column;
  }
}
