.mapPostJob {
  background: url("../../assets/map_rectangle.png");
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.pickupAddressForm {
  padding: 3% 10%;
}
.formGroupJob {
  margin: 0px 20px;
}
.btnEnd {
  text-align: end;
  padding-top: 30px;
}
