.map {
  width: 100%;
  background: url("../../assets/Map.png");
  object-fit: cover;
  height: 550px;
}
.trackingDetails {
  height: 550px;
  width: 100%;
  background: #f1c644;
  display: flex;
  justify-content: center;
  align-items: center;
  .detailsWrapper {
    padding: 0px 10%;
    h1 {
      color: #fff;
      font-size: 36px;
      padding-bottom: 20px;
    }
    h3 {
      padding: 10px 0px;
      font-weight: 600;
      font-size: 20px;
      color: black;
    }
    p {
      font-size: 16px;
      color: #fff;
      font-weight: normal;
      padding-bottom: 20px;
    }
  }
}
